@model IEnumerable<ClimaTempo.Models.ClimaViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotronAtual">
    <h1>Clima Tempo</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-border">
            <h5 class="card-header card-he">Cidades mais quentes hoje</h5>
            <div class="card-body">
                @foreach (var item in Model.Where(x => x.PrevisaoVM.Clima == "Quente").Take(3))
                {
                    var conc = item.CidadeVM.Nome + "/" + item.CidadeVM.Estado.UF;
                    var tempMin = (int)item.PrevisaoVM.TemperaturaMinima + "°C";
                    var tempMax = (int)item.PrevisaoVM.TemperaturaMaxima + "°C";
                    <div class="row">
                        <div class="col-md-6 text-left">
                            @Html.DisplayFor(c => conc)
                        </div>

                        <div class="col-md-3 text-right">
                            Min @Html.DisplayFor(c => tempMin)
                        </div>

                        <div class="col-md-3 text-right">
                            Máx @Html.DisplayFor(c => tempMax)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-border">
            <h5 class="card-header card-he">Cidades mais frias hoje</h5>
            <div class="card-body">
                @foreach (var item in Model.Where(x => x.PrevisaoVM.Clima == "Frio").Take(3))
                {
                    var conc = item.CidadeVM.Nome + "/" + item.CidadeVM.Estado.UF;
                    var tempMin = (int)item.PrevisaoVM.TemperaturaMinima + "°C";
                    var tempMax = (int)item.PrevisaoVM.TemperaturaMaxima + "°C";
                    <div class="row">
                        <div class="col-md-6 text-left">
                            @Html.DisplayFor(c => conc)
                        </div>

                        <div class="col-md-3 text-right">
                            Min @Html.DisplayFor(c => tempMin)
                        </div>

                        <div class="col-md-3 text-right">
                            Máx @Html.DisplayFor(c => tempMax)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row row-1">
    <div class="col-md-6" id="uploadTemplate">
        <h5>Cidade:</h5>
        @Html.DropDownList("Cidade", ViewBag.Cidade as SelectList, null,
                new { @class = "form-control select2", onchange = "CallClickFunction(this.value)" })
    </div>
</div>


<h3 class="text-clima"> Clima para os próximos sete dias na cidade </h3>
<div class="row">
    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Segunda</h5>
            <div class="card-body">
                @*@foreach (var item in Model)
                    {*@
                @*//var conc = item.Cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Terça</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Quarta</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Quinta</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Sexta</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Sabádo</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>
</div>

