@model IEnumerable<ClimaTempo.Models.ClimaViewModel>
@*@model Tuple<ClimaTempo.Models.Cidade, IEnumerable<ClimaTempo.Models.ClimaViewModel>>*@

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotronAtual">
    <h1>Clima Tempo</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card card-border">
            <h5 class="card-header card-he">Cidades mais quentes hoje</h5>
            <div class="card-body">
                @foreach (var item in Model.Where(x => x.PrevisaoVM.Clima == "Quente").Take(3))
                {
                    var conc = item.CidadeVM.Nome + "/" + item.CidadeVM.Estado.UF;
                    <div class="col-md-12">
                        <p>
                            @Html.DisplayFor(c => conc)
                            Min
                            @item.PrevisaoVM.TemperaturaMinima
                            Máx
                            @item.PrevisaoVM.TemperaturaMaxima
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card card-border">
            <h5 class="card-header card-he">Cidades mais frias hoje</h5>
            <div class="card-body">
                @foreach (var item in Model.Where(x => x.PrevisaoVM.Clima == "Frio").Take(3))
                {
                    var conc = item.CidadeVM.Nome + "/" + item.CidadeVM.Estado.UF;
                    <div class="col-md-12">
                        <p>
                            @Html.DisplayFor(c => conc)
                            Min
                            @item.PrevisaoVM.TemperaturaMinima
                            Máx
                            @item.PrevisaoVM.TemperaturaMaxima
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row row-1">
    @*@using (Html.BeginForm("Selecao", "Home", FormMethod.Post, new { id = "TheForm" }))
        {*@
    <div class="col-md-6">
        @Html.DropDownList("Cidade", (IEnumerable<SelectListItem>)ViewBag.Cidade,
            new { Class = "form-control select2", id = "ddlCidade" })
    </div>
    <div id = "partialDiv" >
        @Html.Partial("_EmpTestPartial") 
    </div>

    @*<div class="col-md-6">
            @Html.DropDownList("Cidade", new SelectList(ViewBag.Cidades, "Id", "Nome"))
        </div>*@
    @*}*@
</div>


<h3 class="text-clima"> Clima para os próximos sete dias na cidade </h3>
<div class="row">
    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Segunda</h5>
            <div class="card-body">
                @*@foreach (var item in Model)
                    {*@
                //var conc = item.Cidade.Nome + "/" + item.cidade.Estado.UF;
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Terça</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Quarta</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Quinta</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Sexta</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card card-border">
            <h5 class="card-header card-he">Sabádo</h5>
            <div class="card-body">
                @*@foreach (var item in Model.Where(x => x.previsao.Clima == "Quente"))
                    {
                        var conc = item.cidade.Nome + "/" + item.cidade.Estado.UF;*@
                <div class="col-md-12">
                    <p>
                        @*@Html.DisplayFor(c => conc)
                            Min
                            @item.previsao.TemperaturaMinima
                            Máx
                            @item.previsao.TemperaturaMaxima*@
                    </p>
                </div>
                @*}*@
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#ddlCidade").on("change", function () {
            $.ajax(
                {
                    url: '/Home/GetCidadePrevisao?CidadeId=' + $(this).attr("value"),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#partialDiv").html(data);
                    },
                    error: function () {
                        alert("error");
                    }
                }
            );
        });
    });
</script>
